* {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #173d7a;
}

/* ##########################-->HEADER<--########################## */

header {
  background-color: white;
  height: 65px;
  box-shadow: 2px 2px 22px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

header * {
  display: inline;
}

header li {
  margin: 18px;
}

header li a {
  color: #505860;
  text-decoration: none;
}

header img {
  height: 48%;
  width: 8.5%;
  padding-left: 10px;
  z-index: 100;
}

ul {
  display: inline-block;
  text-align: end;
  padding-right: 28px;
}

a:hover,
a:active {
  color: #8fa6cb;
}

/*##########################-->MAIN<--#############################*/

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.text {
  grid-column: 1/2;
  width: 80%;
}

.intro {
  grid-row: 1/5;
  grid-column: 2/3;
}

.main_p1,
.main_p2 {
  font-size: 20px;
  font-weight: 400;
  align-self: center;
  justify-self: center;
  width: 67%;
  line-height: 1.5;
}

.main_p2 {
  align-self: flex-start;
}

button {
  width: 271px;
  height: 58px;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 23px;
  background-color: #92d8ba;
  border-radius: 33px;
  border: none;
  align-self: flex-start;
  justify-self: center;
}
