* {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #173d7a;
}

/* ##########################-->HEADER<--########################## */

header {
  background-color: white;
  height: 65px;
  box-shadow: 2px 2px 22px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

header * {
  display: inline;
}

header li {
  margin: 18px;
}

header li a {
  color: #505860;
  text-decoration: none;
}

header img {
  height: 48%;
  width: 8.5%;
  padding-left: 10px;
  z-index: 100;
}

ul {
  display: inline-block;
  text-align: end;
  padding-right: 28px;
}

a:hover,
a:active {
  color: #8fa6cb;
}

/*##########################-->MAIN<--#############################*/

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.text {
  grid-column: 1/2;
  width: 80%;
}

.intro {
  grid-row: 1/5;
  grid-column: 2/3;
}

.main_p1,
.main_p2 {
  font-size: 20px;
  font-weight: 400;
  align-self: center;
  justify-self: center;
  width: 67%;
  line-height: 1.5;
}

.main_p2 {
  align-self: flex-start;
}

.btn1 {
  width: 271px;
  height: 58px;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 23px;
  background-color: #92d8ba;
  border-radius: 33px;
  border: none;
  align-self: flex-start;
  justify-self: center;
}

/*#####################-->SECTION 1<--###############################*/

/* .section1 {
  display: grid;
  grid-template-rows: 1fr;
} */

h1 {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}

.red {
  position: absolute;
  top: 120%;
  width: 11%;
}

.blue {
  position: absolute;
  top: 116%;
  right: 0;
  width: 9%;
}

/*#####################-->SECTION 2<--###############################*/
/*#####################-->SECTION 3<--###############################*/

.section3 {
  display: grid;
  background-color: #8fa6cb;
  grid-template-rows: 120px 100px 380px 150px;
}

.title {
  color: white;
  grid-row: 1/2;
  text-align: center;
  align-self: end;
}

.p {
  font-size: 23px;
  color: white;
  grid-row: 2/3;
  text-align: center;
  align-self: center;
}

.box {
  grid-row: 3/4;
  display: inline-grid;
  grid-template-columns: auto auto auto;
}

.js,
.db,
.php {
  grid-row: 1/2;
  align-self: center;
}

.js {
  justify-self: end;
}

.db {
  justify-self: center;
}

.php {
  justify-self: start;
}

.white-btn {
  border-color: white;
  border: solid 2px;
  color: white;
  background-color: #8fa6cb;
  width: 271px;
  height: 58px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 23px;
  border-radius: 33px;
  justify-self: center;
  grid-row: 4/5;
  align-self: start;
}

/*#####################-->SECTION 4<--###############################*/
