* {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #173d7a;
}

/* ##########################-->HEADER<--########################## */

header {
  background-color: white;
  height: 65px;
  box-shadow: 2px 2px 22px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

header * {
  display: inline;
}

header li {
  margin: 18px;
}

header li a {
  color: #505860;
  text-decoration: none;
}

header img {
  height: 48%;
  width: 8.5%;
  padding-left: 10px;
  z-index: 100;
}

ul {
  display: inline-block;
  text-align: end;
  padding-right: 28px;
}

a:hover,
a:active {
  color: #8fa6cb;
}

.burger-container {
  display: none;
}

/*##########################-->MAIN<--#############################*/

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.img-text {
  grid-column: 1/2;
  width: 80%;
}

.intro {
  grid-row: 1/5;
  grid-column: 2/3;
}

.main_p1,
.main_p2 {
  font-size: 20px;
  font-weight: 400;
  align-self: center;
  justify-self: center;
  width: 67%;
  line-height: 1.5;
}

.main_p2 {
  align-self: flex-start;
}

.btn1 {
  width: 271px;
  height: 58px;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 21px;
  background-color: #92d8ba;
  border-radius: 33px;
  border: none;
  align-self: flex-start;
  justify-self: center;
}

/*#####################-->SECTION 1<--###############################*/

.section1 {
  display: grid;
  grid-template-rows: 200px;
  align-items: center;
}

h1 {
  font-size: 38px;
  font-weight: 600;
  text-align: center;
}

.red {
  position: absolute;
  top: 105%;
  width: 11%;
}

.blue {
  position: absolute;
  top: 110%;
  right: 0;
  width: 9%;
}

/*#####################-->SECTION 2<--###############################*/

.section2 {
  display: grid;
  grid-template-rows: 1fr auto 100px;
}

.slides-container {
  height: 566px;
  width: 711px;
  box-shadow: 2px 2px 22px 5px rgba(0, 0, 0, 0.1);
  z-index: -1;
  border-radius: 6px;
  justify-self: center;
}

.currentSlide {
  display: grid;
  grid-template-rows: 110px 260px 120px;
}

h2 {
  font-size: 28px;
  text-align: center;
  align-self: center;
}

.study,
.challenge,
.grow {
  width: 35%;
  justify-self: center;
  align-self: center;
}

.text {
  text-align: center;
  justify-self: center;
  align-self: center;
  width: 70%;
  font-weight: 300;
  line-height: 1.5;
  font-size: 16.5px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 183%;
  width: 1.5%;
}

/* Position the "next button" to the right */
.next {
  right: 27%;
}

.prev {
  left: 27%;
}

/* bullets/indicators */
.dot {
  position: relative;
  bottom: 210%;
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #173d7a;
  display: inline-block;
}

.active {
  background-color: #173d7a;
}

/*#####################-->SECTION 3<--###############################*/

.section3 {
  display: grid;
  background-color: #8fa6cb;
  grid-template-rows: 120px 150px 300px 120px;
}

.title {
  color: white;
  grid-row: 1/2;
  text-align: center;
  align-self: end;
}

.p {
  font-size: 20px;
  color: white;
  grid-row: 2/3;
  text-align: center;
  align-self: center;
}

.box {
  grid-row: 3/4;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.js,
.db,
.php {
  grid-row: 1/2;
  align-self: center;
  width: 95%;
}

.js {
  justify-self: end;
}

.db {
  justify-self: center;
}

.php {
  justify-self: start;
}

.white-btn {
  border-color: white;
  border: solid 2px;
  color: white;
  background-color: #8fa6cb;
  width: 271px;
  height: 58px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 21px;
  border-radius: 33px;
  justify-self: center;
  grid-row: 4/5;
  align-self: start;
}

/*#####################-->SECTION 4<--###############################*/

.section4 {
  display: grid;
  grid-template-rows: 200px 200px 1fr 410px;
}

.title-aboutUs {
  grid-row: 1/2;
  align-self: end;
}

.text-aboutUs {
  grid-row: 2/3;
  align-self: center;
  text-align: center;
  justify-self: center;
  width: 78%;
  line-height: 1.5;
  font-size: 19px;
}

.boxes-wrapper {
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-self: center;
  align-self: center;
  grid-row-gap: 10%;
  grid-column-gap: 3%;
}

.box1,
.box2,
.box3,
.box4 {
  display: grid;
  width: 532px;
  height: 190px;
  background-color: #406092;
  border-radius: 6px;
  justify-self: center;
  align-items: center;
}

.box1,
.box3 {
  justify-self: end;
}

.box2,
.box4 {
  justify-self: start;
}

p:first-child {
  line-height: 1.5;
  text-align: center;
  color: white;
  font-size: 18px;
  width: 88%;
  justify-self: center;
}

.btn3 {
  grid-row: 4/5;
  width: 271px;
  height: 58px;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 21px;
  background-color: #92d8ba;
  border-radius: 33px;
  border: none;
  align-self: center;
  justify-self: center;
}

/*#####################-->FOOTER<--###############################*/

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

div.footer-boxes {
  /* width: 80%;
  justify-self: end; */
  grid-column: 2/3;
  grid-row: 2/3;
  align-items: start;
  z-index: 100;
  display: grid;
  grid-template-columns: auto auto auto;
}

h3:first-child {
  line-height: 2.5;
}

.img-footer {
  grid-column: 1/3;
  grid-row: 1/3;
}

span {
  grid-row: 2/3;
  grid-column: 1/3;
  z-index: 100;
  text-align: end;
  align-self: end;
  line-height: 3;
}

/*########################-->MOBILE<--*############################/

/* For small devices (landscape phones): */
@media (max-width: 599px) {
  .desktop-nav {
    display: none;
  }

  /* Style the navigation menu */
  .burger-menu {
    overflow: hidden;
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .burger-menu #menuLinks {
    display: block;
  }

  /* Style navigation menu links */
  .burger-menu a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  .burger-menu a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .icon {
    width: 30%;
  }
}

/*########################-->TABLET<--*############################/
/* For medium devices (tablets, 768px and up): */
@media (min-width: 768px) {
}
