* {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

/* ##########################HEADER########################## */

header {
  background-color: white;
  height: 65px;
  box-shadow: 2px 2px 22px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

header * {
  display: inline;
}

header li {
  margin: 18px;
}

header li a {
  color: #505860;
  text-decoration: none;
}

header img {
  height: 48%;
  width: 8%;
  padding-left: 10px;
  z-index: 100;
}

ul {
  display: inline-block;
  text-align: end;
  padding-right: 28px;
}

a:hover,
a:active {
  color: #8fa6cb;
}
